.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.addForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
}

.form .formGroup {
  margin-right: 15px;
  margin-bottom: 0 !important;
}

.submit_btn {
  align-self: flex-end;
}

.table {
  margin-top: 20px;
}

.actions {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.fa-solid {
  cursor: pointer;
}

.table td {
  vertical-align: middle;
  font-size: 20px;
}